<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="Find out information on National Parks" />
    <link rel="shortcut icon" href="images/Logos/favicon.ico">
    <link rel="icon" type="image/gif" href="images/Logos/favicon.ico">
    <link href="/stylesheets/about.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <title>About</title>
  </head>

  <body>
    <% include nav.ejs %>
    <header class="header">
      <div class="centered">
        <img src="images/Logos/logoOrangeCream.PNG" alt="Parklopedia Logo" />
      </div>

      <div class="headerVideo">
        <div class="videoContainer">
          <video
            poster="images/GeneratedNationalPark.png"
            autoplay
            muted
            id="backgroundVideo"
          >
            <source
              src="images/headerBackgrounds/autumnLeavesHeader.mp4"
              type="video/mp4"
            />
            Your Browser Does Not Support This Video.
          </video>
        </div>
      </div>
    </header>

    <main id="main" class="main" tabindex="-1">
      <article>
        <h2>The Parklopedia Team:</h2>

        <div class="flex-column-center profile">
          <section class="container">

              <div class="column-33Left">
                <img
                  src="/images/Khyrstina.jpg"
                  alt="Khyrstina"
                  style="width: 100%"
                />
              </div>
              <div class="column-66Left">
                <div class="container">
                  <h2>Khyrstina Smith</h2>
                  <p class="title">
                    Meet Khyrstina, an Information Technology student with a
                    passion for web development.
                  </p>
                  <p>
                    Outside her studies, Khyrstina enjoys Arduino tinkering,
                    keeping up with 🪐NASA news, and watching Formula1. In her early
                    years, she aspired to be a paleontologist, favoring the
                    Utahraptor 🦖. You can check out her LinkedIn and GitHub below!
                  </p>
                  <div class="socialButtons flex-row-center">
                    <p><button  class="button button-shadow button-shadow-border"><a href="https://www.linkedin.com/in/khyrstina/" target="_blank">LinkedIn</a></button></p>
                    <p><button class="button button-shadow button-shadow-border"><a href="https://www.github.com/Khyrstina" target="_blank">GitHub</a></button></p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>


        <div class="flex-column-center profile">
            <section class="container">

                <div class="column-33Right">
                  <img
                    src="/images/Hollie.jpg"
                    alt="Khyrstina"
                    style="width: 100%"
                  />
                </div>
                <div class="column-66Right">
                  <div class="container">
                    <h2>Hollie Smith</h2>
                    <p class="title">
                        Meet Hollie, the adorable and tech-savvy pug who takes her role as a coding companion very seriously.</p>
                    <p>
                        Hollie specializes in providing a unique blend of support for her human's coding endeavors. 🐶💻
                        Whether it's delivering random objects with an endearing tilt of her head, snuggling up for impromptu naps while her human works, 
                        or pressing her "outside please" button to let Khyrstina know it's time to take a break and get some fresh air, 
                        thanks to Hollie morale is at an all time high! She hopes to get her "Bark Ranger" badge this summer. 🌲
                    </p>
                    <div class="socialButtons flex-row-center">
                      <p><button  class="button button-shadow button-shadow-border"><a href="https://www.nps.gov/subjects/pets/bark-rangers.htm" target="_blank">Bark Rangers Program</a></button></p>
                      <p><button class="button button-shadow button-shadow-border"><a href="https://www.petfinder.com/" target="_blank">Find a Companion Like Hollie</a></button></p>
                    </div>
                  </div>
                </div>

            </section>
          </div>

          <section class="projectRequirements">
            <h2>Project Requirements:</h2>
            <h3>Click the requirements below to learn how Parklopedia meets them!</h3>

            <h4 class="expandReq" id="reqOne">Use arrays, object, sets, or maps to store and retrieve information that is displayed in your app.</h4>
              <p class="reqDiv" id="reqDivOne">
              Parklopedia utilizes arrays for storing and retrieving data. For instance, it maintains an array of objects representing parks, populated with data fetched from the National Park Service API.
            </p>

            <h4 class="expandReq" id="reqTwo">Analyze data that is stored in arrays, objects, sets or maps and display information about it in your app.</h4>
              <p class="reqDiv" id="reqDivTwoA">
              The alerts section of the parkinfo page is color coded based on severity. This is done by analyzing the JSON that was returned, and changing the color accordingly.
              </p>
              <p class="reqDiv" id="reqDivTwoB">
              The data that is stored in both the Park arrays, the objects that are a part of the Park arrays, and the slideshow array are all displayed in different parts of the application.
              </p>

              <h4 class="expandReq" id="reqThree">Retrieve data from a third-party API and use it to display something within your app.</h4>
              <p class="reqDiv" id="reqDivThree">
              As explained above, currently two third-party APIs are in use.
              </p>

              <h4 class="expandReq" id="reqFour">Implement modern interactive UI features (e.g. table/data sorting, autocomplete, drag-and-drop, calendar-date-picker, etc).</h4>
              <p class="reqDiv" id="reqDivFour">
              On the search page, the input into the search field is parsed in order to provide suggestions that autofill when clicked. This also allows the search to provide more accurate results as typos and input errors are corrected.
              </p>


              <h4 class="expandReq" id="reqFive">Analyze text and display useful information about it. (e.g. word/character count in an input field)</h4>
              <p class="reqDiv" id="reqDivFive">
              The text input on the search page is analyzed to see if it matches any of the approved search options (U.S. States). If no State is selected, the search box will provide the user with a reminder of the instructions and not allow the search to submit.
              </p>

              <h4 class="expandReq" id="reqSix">Calculate and display data based on an external factor (ex: get the current date, and display how many days remaining until some event).</h4>
              <p class="reqDiv" id="reqDivSix">The alerts section of the parkinformation page only displays alerts that have been released in the last 3 months. It does this by taking the current date, as well as the date that the alert was created by the NPS, and calculating how many days it has been.
              </p>
          </section>


          <h2>Resources:</h2>
          <section>
            <p>These are the resources that made this project possible.</p>
            <div class="resourceGrid">
                <div class="resourceOne parkResource flex-column-center">
                    <p class="resourceText">National Park Service API</p>
                    <button class="button button-shadow button-shadow-border"><a href="https://www.nps.gov/subjects/developer/api-documentation.htm" target="_blank">More Info Here</a></button>
                </div>
                <div class="resourceTwo weatherResource flex-column-center">
                    <p class="resourceText">Weather API</p>
                    <button class="button button-shadow button-shadow-border"><a href="https://www.weatherapi.com/" target="_blank">More Info Here</a></button>
                    </div>
                <div class="resourceThree iconResource flex-column-center">
                    <p class="resourceText">Google Material Icons</p>
                    <button class="button button-shadow button-shadow-border"><a href="https://fonts.google.com/icons" target="_blank">More Info Here</a></button>
                    </div>
                <div class="resourceFour codeResource flex-column-center">
                    <p class="resourceText">CODE: Kentucky</p>
                    <button class="button button-shadow button-shadow-border"><a href="https://codekentucky.org/" target="_blank">More Info Here</a></button>
                    </div>
            </div>
          </section>

      </article>

    </main>

    <% include footer.ejs %>
    <script src="/javascripts/expandAbout.js"></script>
  </body>
</html>
