<footer class="footer flex-column-center">
    <nav class="navigation" aria-label="site">
        <ul>
            <li><a href="link.org">Home</a></li>
            <li><a href="about.html">About Project</a></li>
            <li><a href="link.org">About Me</a></li>
        </ul>
    </nav>
    <p>Designed and Maintained By: Khyrstina Smith</p>
    <p><a href="sitemap.html">Sitemap Will Go Here</a></p>

</footer>