<footer class="footer flex-column-center">
    <section>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Project</a></li>
            <li><a href="/github" target="_blank">GitHub</a></li>
        </ul>
    </section>
    <p>Designed and Maintained By: Khyrstina Smith</p>
    <p><a href="sitemap.html">Sitemap Will Go Here</a></p>

</footer>