<footer>
  <section  class="footer">
    <ul class="footerUl">
      <li class="footerLink"><a href="/">Home</a></li>
      <li class="footerLink"><a href="/about">About</a></li>
      <li class="footerLink"><a href="/github" target="_blank">GitHub</a></li>
    </ul>
  </section>
  <p>Designed and Maintained By: Khyrstina Smith</p>

</footer>
