<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="Find out information on National Parks" />
    <link rel="shortcut icon" href="images/Logos/favicon.ico" />
    <link rel="icon" type="image/gif" href="images/Logos/favicon.ico" />
    <link href="/stylesheets/main.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <title>Welcome!</title>
  </head>

  <body>
    <% include nav.ejs %>
    <header class="header">
      <div class="centered">
        <img src="images/Logos/logoOrangeCream.PNG" alt="Parklopedia Logo" />
      </div>

      <div class="headerVideo">
        <div class="videoContainer">
          <video
            poster="images/GeneratedNationalPark.png"
            autoplay
            muted
            id="backgroundVideo"
          >
            <source
              src="images/headerBackgrounds/forestHeader.mp4"
              type="video/mp4"
            />
            Your Browser Does Not Support This Video.
          </video>
        </div>
      </div>
    </header>

    <main id="main" class="main" tabindex="-1">
      <article class="flex-row-center-wrap text-align">
        <section class="aboutVideo">
          <h2>More Than Information, It's a Journey:</h2>
          <h4 id="firstH4">
            Watch our narrated video featuring the serene landscapes of Olympic
            National Park.
          </h4>
        </section>
        <div class="iframeContainer">
          <iframe
            class="responsive-iframe"
            src="https://www.youtube.com/embed/IUYwhfyzODA?si=bAWKBySz0u8az_oy&rel=0"
            title="Parklopedia Narrated Video"
            allowfullscreen
            no-referrer
            showinfo
            >Your browser does not support embedded frames.</iframe
          >
        </div>

        <section class="parklopediaAbilitiesList">
          <div class="abilitiesListOne grid-features-list">
            <div class="abilitiesListOneText">
              <h2 title="Lets find out!">What can Parklopedia do for you?</h2>
            </div>
          </div>
          <div class="abilitiesListTwo grid-features-list" title="You'll get results with National Parks, Historical Parks, Nature Reserves, and more!">
            <div class="abilitiesListTwoText">
              <p>Search by State to find relevant parks near you.</p>
            </div>
          </div>
          <div class="abilitiesListThree grid-features-list" title="So you can know before you go if the weather is going to cooperate!">
            <div class="abilitiesListThreeText">
              <p>
                Retrieve the current and three-day forecast for a park you
                select.
              </p>
            </div>
          </div>
          <div class="abilitiesListFour grid-features-list" title="Find out before you even leave! Learn about current road closures, safety concerns, and any other alerts the NPS have made!">
            <div class="abilitiesListFourText">
              <p>
                Display any alerts made by the NPS about that park within the
                last three months.
              </p>
            </div>
          </div>
          <div class="abilitiesListFive grid-features-list" title="Need to know if there are maps and information stations? Once you select a park you can see which amenities are available there!">
            <div class="abilitiesListFiveText">
              <p>
                Search for amenity types you're interested in, and find out if
                it's available at the park you selected.
              </p>
            </div>
          </div>
        </section>

        <section class="howItWorks">
          <h2>
            Ready for more in depth instructions? Here's a step by step guide to using
            Parklopedia.
          </h2>

          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepOne.png" alt="Step One: Type in search box" />
              Step One: Start typing in the name of the State you want to find a
              park in.
            </p>
          </div>
          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepTwo.png" alt="Step Two: Select Suggestion" />
              Step Two: A list of suggestions will display below the Search
              button, select the State you're interested in searching. Note: You
              must select a State from the suggestions list, or you will be
              unable to Search.
            </p>
          </div>
          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepThree.png" alt="Step Three: Press search button" />
              Step Three: Click Search to retrieve the parks available in your
              selected State.
            </p>
          </div>

          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepFour.png" alt="Step Four: Select park" />
              Step Four: Look through the available parks that are returned, and
              select one you're interested in learning more about. selected.
            </p>
          </div>
          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepFive.png" alt="Step Five: Park info page loads" />
              Step Five: You will be taken to a page specific to the park you
              selected. At the top you'll see images from that park, you can
              navigate through the set of images by clicking the Previous or
              Next buttons below the image.
            </p>
          </div>
          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepSix.png" alt="Step Six: Get park Information" />
              Step Six: If you scroll down the page, on the left you'll see the
              current weather and the three day forecast for the park you
              selected. On the right you'll see an overview of park information
              including a general description, seasonal information, and if the
              NPS has posted any fees or special operating hours for the park.
            </p>
          </div>
          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepSeven.png" alt="Step Seven: Find out if there are Alerts" />
              Step Seven: Scrolling down a bit further you'll see a list of any
              alerts the NPS has posted for the park you selected. These alerts
              are updated regularly, and only those that were posted in the last
              3 months will display. The titles are color coded to indicate the
              type of alert, and you can use the included table to determine
              what type of alert each color represents. There is a link under
              each one that will take you to the NPS website for that alert,
              where you can find more information.
            </p>
          </div>

          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepEight.png" alt="Step Eight: Filter amenities by using checkboxes" />
              Step Eight: A bit further down the page you'll reach the amenities
              section. You can use the checkboxes to filter the list of
              amenities to only categories that you are interested in for your
              selected park. Currently due to an error on the NPS side, you can
              see if that amenity is available at the park, but you cannot see
              the locations that they are available. After selecting the
              amenities you're interested in, click the Search button to
              retrieve the list.
            </p>
          </div>
          <div class="howItWorks">
            <p>
              <img src="images/instructions/stepNine.png" alt="Step Nine: Find amenities" />
              Step Nine: A list of confirmed amenities will display below the
              Search Button. They are organized under the amenity type they
              belong to.
            </p>
          </div>
          <h3>
            Ready to start your own search? Click the magnifying glass in the
            navigation bar at the top of the page, or click the button below!
          </h3>
          <button
            class="button button-shadow button-shadow-border search-bar-button button50Percent"
            onclick="window.location.href='/search'"
          >
            Search
          </button>
        </section>
      </article>
    </main>

    <% include footer.ejs %>
  </body>
</html>
