<div class="menuBox">
  <nav class="align navigation navigation--inline">
    <ul>
      <li>
        <a href="/" title="Home">
          <img class="icon icon--2x" alt="Home" src="/images/menuIcons/home.png" />
          <span class="invisible">Home</span>
        </a>
      </li>
      <li>
        <a href="/search" title="Search">
          <img class="icon icon--2x" alt="Search" src="/images/menuIcons/search.png" />
          <span class="invisible">Search</span>
        </a>
      </li>
      <li>
        <a href="/about" title="About Parklopedia">
          <img class="icon icon--2x" alt="about" src="/images/menuIcons/about.png" />
          <span class="invisible">About</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
