<div class="menuBox">
<nav class=" align navigation navigation--inline">
    <ul>
      <li>
        <a href="/">
            <img class="icon icon--2x" src="/images/menuIcons/home.png" />
            <span class="invisible">Home</span>
          </a>
        </li>
      <li>
        <a href="/search">
          <img class="icon icon--2x" src="/images/menuIcons/search.png" />
          <span class="invisible">Search</span>
        </a>
      </li>
      <li>
        <a href="/about">
            <img class="icon icon--2x" src="/images/menuIcons/about.png" />
            <span class="invisible">About</span>
          </a>
        </li>
      </ul>
      </nav>
    </div>