:root {
  --light-green: #c9d9c3;
  --dark-green: #455947;
  --dark-green-opaque: #455947c5;
  --dark-green-transparent: #45594758;
  --vanilla: #d4bda1;
  --dark-orange: #864622;
  --light-orange: #c78853;
  --coffee-black: #383330;
  --navy-blue: #080832;
  --white-transparent: rgba(255, 255, 255, 0.3);

  --navigation-background-color: #f0f6ff;
  --navigation-border-radius: 0.25em;
  --navigation-anchor-padding: 1em;

  --gradient-background: rgb(69, 89, 71);
  --gradient-background-radial: linear-gradient(
    180deg,
    rgba(69, 89, 71, 1) 44%,
    rgba(8, 8, 50, 1) 100%
  );

  --gradient-green: rgb(69, 89, 71);
  --gradient-green-background: linear-gradient(
    0deg,
    rgba(69, 89, 71, 1) 99%,
    rgba(69, 89, 71, 0) 100%
  );


  /*start custom property classes*/

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .flex-row-center-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-column-center-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }


  .grid-features-list {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0rem .5rem;
    border-radius: 5px;
    justify-items: center;
  }
 
  .footer, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 1rem;
    color: whitesmoke;
  }

  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }


  .footerLink {
    height: 100px;
    width: 100px;
    line-height: 100px;
    list-style: none;
    text-decoration: none;
    background-color: var(--white-transparent);
    border-radius: 50%;
    margin: 0rem .5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .footerLink a {
    text-decoration: none;
  }

  .footerLink:hover {
    border-style: solid;
    border-width: 3px;
    border-top-color: whitesmoke;
    border-left-color: whitesmoke;
    border-right-color: var(--dark-orange);
    border-bottom-color: var(--dark-orange);
    transform: scale(1.08);
    transition: transform 0.5s ease-in-out;
  }

  .footer p {
    text-align: center;
    color: whitesmoke;
  }

  @media (max-width: 768px) {
    .footerLink {
      height: 50px;
      width: 50px;
      line-height: 50px;
      list-style: none;
      text-decoration: none;
      background-color: var(--white-transparent);
      border-radius: 50%;
      margin: 0rem .5rem;
      padding: .5rem;
    }


    }
  }

