:root {
    --light-green: #c9d9c3;
    --dark-green: #455947;
    --vanilla: #d4bda1;
    --dark-orange: #864622;
    --light-orange: #c78853;
    --coffee-black: #383330;

/*start custom property classes*/

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-row-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .flex-column-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}