

html {
    font-family: 'Open Sans', sans-serif, 'AR One Sans', sans-serif;
    background-color: #E8F4F0;
    margin:0px;
    padding:0px;
    max-width: 100%;
}

.body {
    display: flex;
    flex-direction: column;

}


.header-img {
    max-width: 100%;
    border-radius: 5px;
}

ul li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

article {
    color: #050b04;
}

label {
    display: block;
    margin-bottom: 10px;
}

.header {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.hero .centered {
    font-size: 2.5rem;
    text-shadow: 2px 2px 3px #262724;
}

.catchPhraseBox {
    background-color: #8ac6d0ff;
    background-image: url("/images/generatedMtRainier.png");
    border-radius: 5px;
    width: 100%;
    height: 21rem;
    display: flex;
    flex-direction: column;
    
}

.catchPhrase {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 0;
    padding-top: 1.5rem;

}

.catchPhraseCont {
    color: #fff;
    font-size: 1rem;
    text-align: center;

}



/*Search Area*/
.mainSearchArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #8ac6d0ff;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: .25rem;
}

.aboutSearchParagraphBox {
    width: 100%;
    margin-bottom: 1rem;
}



input[type=text] {
    transition: width 1s ease-in-out;
    padding: .5rem 1rem;
    box-sizing: border-box;
}

input[type=text]:focus {
    width:75%
}

/* start results and pagination*/
.ButtonsBox {
    display: flex;
    justify-content: center;
}

.ButtonsBox button {
    font-size: 20px;
    cursor: pointer;
    background-color: #706993;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #262724;
}

.ButtonsBox button:hover {
    background-color: #327A81;
    transition-duration: .25s;
}

.jsonResultsBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.nextButtonBottom {
    font-size: 20px;
    cursor: pointer;
    background-color: #706993;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #262724;
}




/*Begin styling for background colors */


.backgroundBoxColorEven {
    background-color: #abc4b4;
    padding: .75rem 1rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 25px 20px -20px #262724;
}

.backgroundBoxColorOdd {
    background-color: #c5ecb1;
    padding: .75rem 1rem;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0px 25px 20px -20px #262724;
}

.backgroundBoxColorHeader {
    background-color: #005E7C;
    padding: .75rem 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
    width: 100%;
    text-align: center;
    box-shadow: 0px 25px 20px -20px #262724;
}


/*Sidepanel menu specific*/
.sidepanel {
    height: 3rem;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 1rem;
    right: 1rem;
    background-color: #596633;
    overflow-x: hidden;
    padding-right: 3.5rem;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0rem .2rem 1rem #262724;
    display: flex;
    align-items: center;
    display: none;
}

.sidepanel ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.sidepanel ul li a {
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidepanel ul li a:hover {
    text-shadow: 2px 2px 3px #262724;
    transition-duration: .25s;
}

.menu {
    display: flex;
    align-items: center;
}

.openbtn {
    font-size: 2rem;
    cursor: pointer;
    background-color: #ffffff00;
    color: #fff;
    padding: .25rem 1rem;
    border: none;
}

.openbtn:hover {
    text-shadow: 2px 2px 3px #262724;
    transition-duration: .25s;
}


/* StateSearch Results*/
#jsonContainer ul li .parkImage {
    max-width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    position: relative; 
}

#jsonContainer ul li .parkImage img {
    max-width: 100%;
    height: auto;
    transition: transform .5s ease;
}

#jsonContainer ul li img:hover {
    transform: scale(1.03);
}

.parkInfoBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #706993;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #262724;
    margin: 1.15rem;
}

.parkInfoBtn:hover {
    background-color: #327A81;
    transition-duration: .25s;
}

.infoButtonBox {
    display: flex;
    justify-content: center;
}

#jsonContainer ul li {
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#jsonContainer ul li div ul li {
    display: block;
    text-align: start;
    margin-top: 1rem;
    margin-left: .25rem;
}


.jsonContainer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.jsonContainer ul li h2 {
    text-align: center;
}

#jsonContainer > ul > li
{
    width: 96%;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.visuallyHidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    background-color: #e0f3dd;
}

footer p {
    text-align: center
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul li {
    padding: 0rem 2rem;
}

footer ul li a {
    text-decoration: none;
}

/*Text over Image specific*/
.hero {
    position: relative;
    text-align: center;
    color: #fff;
}


.bottom-left {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


.top-right {
    position: fixed;
    top: .75rem;
    right: 1.25rem;
    z-index: 2;
}


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Screen Size Info
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .hero .centered {
        font-size: 2rem;
    }
}
*/