.header-img {
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 25px 20px -20px #262724;
}
html {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #e0f3dd;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

article {
    display: flex;
    flex-wrap: wrap;
    color: #050b04;
}

label {
    display: block;
    margin-bottom: 10px;
}

.header {
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 2px 2px 3px #262724;
    background-color: #e0f3dd;
}


.hero .centered {
    font-size: 2.5rem;
}

.header-title {
    color: #050b04;
    font-size: 1.5rem;
    padding: 1rem 1rem 0rem 1rem;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
    width: 100%;
}

.header-attribution {
    color: #050b04;
    font-size: .75rem;
    padding: 0rem 1rem 1rem 1rem;
    text-align: center;
    font-weight: 900;
    text-shadow: none;
    width: 100%;
}


.main {
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
    background-color: #e0f3dd;
    color: #050b04;
}

/*Begin styling for background colors*/
.main h1 {
    text-align: center;
    background-color: #c7ccd18e;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: #005E7C;
    box-shadow: 0px 25px 20px -20px #262724;
}


.backgroundBoxColorEven{
    background-color: #abc4b4;
    padding: 10px 15px;
    border-radius: 5px;
    margin: .75em;
    box-shadow: 0px 25px 20px -20px #262724;
}

.backgroundBoxColorOdd{
    background-color: #c5ecb1;
    padding: 10px 15px;
    border-radius: 5px;
    margin: .75em;
    box-shadow: 0px 25px 20px -20px #262724;
}

.backgroundBoxColorHeader {
    background-color:  #005E7C;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 1.5em;
    width: 100%;
    text-align: center;
    box-shadow: 0px 25px 20px -20px #262724;
}

body ol, h2 {
    margin: .5em;
    color: #050b04;
} 

/*Sidepanel menu specific*/
.sidepanel {
    height: 250px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #596633;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-radius: 5px;
    box-shadow: 0px 3px 15px #262724;
}

.sidepanel ul li a {
    padding: 20px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidepanel ul li a:hover {
    text-shadow: 2px 2px 3px #262724;
    transition-duration: .25s;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.sidepanel .closebtn:hover {
    text-shadow: 2px 2px 3px #262724;
    transition-duration: .25s;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #596633;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #262724;
}

.openbtn:hover {
    background-color: #3b4422;
    transition-duration: .25s;
}



/* Search area specific*/
.searchWrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.searchWrapper label,
p {
    margin: 1em;
    color: #050b04;
    font-weight: 600;
    text-align: left;
}

.searchWrapper select,
input {
    background-color: transparent;
    font-weight: 600;
    color: #050b04;
    box-shadow: 0px 3px 7px #262724;
    margin: 1em;
}

.selectNumberArea {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.selectStateArea {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.searchWrapper button {
    font-size: 20px;
    cursor: pointer;
    background-color: #596633;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #262724;
}

.loadMoreBtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #596633;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #262724;
    width: 100%;
}

/*NPS StateSearch Results*/
.park .parkImage {
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

article ul {
    justify-content: center;
    align-content: center;
}

#jsonContainer ul li {
    height: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jsonContainer ul li div ul li {
    align-items: flex-start;
    font-weight: 600;
}

.sidebar {
    display: none;
    margin-left: 2rem;
    min-width: 20%;
}

.visuallyHidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

footer {
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    background-color: #e0f3dd;
}

footer p {
    text-align: center
}

footer ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

footer ul li {
    padding: 0rem 2rem;
}

footer ul li a {
    text-decoration: none;
}

/*Text over Image specific*/
.hero {
    position: relative;
    text-align: center;
    color: #fff;
}


.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}


.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}


.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Start Screen Size Info*/

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .hero .centered {
        font-size: 2rem;
    }
}